<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.2.xsd">

	<!-- REST AUTHENTICATION MANAGEMENT-->	
 	<http pattern="/rest/**" entry-point-ref="restAuthenticationEntryPoint" create-session="stateless">
		<csrf disabled="true"/>
		<custom-filter before="FORM_LOGIN_FILTER" ref="JWTAuthenticationFilter"/>
		<intercept-url pattern="/rest/auth" access="permitAll"/>
		<intercept-url pattern="/rest/**" access="isAuthenticated()"/>
	</http>

	<!-- enable use-expressions -->
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/**" access="permitAll" />
	</http>
	
	<beans:bean id="JWTAuthenticationFilter" class="es.sogeti.wiseqarest.security.JWTAuthenticationFilter"/>
    
	<beans:bean id="jwtUtil" class="es.sogeti.wiseqarest.security.JWTUtil" />
    
    <beans:bean id="restAuthenticationEntryPoint" class="es.sogeti.wiseqarest.security.JWTRestAuthenticationEntryPoint" />

	<beans:bean id="customAuthenticationSuccessHandler" class="es.sogeti.wiseqarest.authentication.CustomSimpleURLAuthenticationSuccesHandler" />

	<beans:bean id="customUserDetailsService" class="es.sogeti.wiseqarest.authentication.CustomUserDetailsService" />
		
	
	<beans:beans profile="development">
		<authentication-manager id="authenticationManager">
			<authentication-provider user-service-ref="customUserDetailsService" />
		</authentication-manager>
		
		<beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
			<beans:constructor-arg name="strength" value="11" />
		</beans:bean>
	</beans:beans>
	
	<beans:beans profile="production, acceptance">
		<authentication-manager id="authenticationManager">
			<authentication-provider user-service-ref="customUserDetailsService">
				<password-encoder ref="passwordEncoder"/>
			</authentication-provider>
		</authentication-manager>
		
		<beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
			<beans:constructor-arg name="strength" value="11" />
		</beans:bean>
	</beans:beans>
</beans:beans>